version: '3.8'
services:
  jenkins-blueocean:
    build: .docker
    restart: always
    privileged: true
    user: root
    ports:
      - 8080:8080
      - 50000:50000
    container_name: jenkins-blueocean
    volumes:
      - ./workspace:/var/jenkins_home
      - '/usr/bin/docker:/usr/bin/docker'